@charset "utf-8";
/* CSS Document */

.data_repeater_content ul.row_toolbar {
	bottom:0; 
	right:0; 
	position: absolute;
	margin:0;
	padding:0;
	outline:0;
	margin-bottom:8px;
	margin-right:6px;
	vertical-align:baseline;
	list-style:none;

}
.data_repeater_content ul.row_toolbar li{
	float: left;
	background-image: url(../images/row_toolbar_bg.png);
	background-repeat:repeat-x;
}

.data_repeater_content ul.row_toolbar li.status_active {
	background-image: url(../images/row_toolbar_status_active.png);
}

.data_repeater_content ul.row_toolbar li a {
	display:block;
	text-indent:30px;
	height:15px;
	padding-bottom:7px;
	padding-top:6px;
	border:1px solid #dadada;
	border-left:0;
	padding-right:10px;
	text-decoration:none;
	color:#333;
}
.data_repeater_content ul.row_toolbar li a.iconOnly{
	width:29px;
	text-indent:-99999px;
	padding-right:0px;
}

.data_repeater_content ul.row_toolbar li a.left, .data_repeater_content ul.row_toolbar li.left{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;

}

.data_repeater_content ul.row_toolbar li a.left, .data_repeater_content ul.row_toolbar li a.all{
	border-left:1px solid #dadada;
}

.data_repeater_content ul.row_toolbar li a.all, .data_repeater_content ul.row_toolbar li.all{
	border-radius:3px;
	border-radius:3px;
	-moz-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-border-radius:3px;

}
.data_repeater_content ul.row_toolbar li a.right, .data_repeater_content ul.row_toolbar li.right{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;

}
.data_repeater_content ul.row_toolbar li a.right{
	border-left:0;
}

.data_repeater_content ul.row_toolbar li a:hover{
	background-color:#FFF;
}

.data_repeater_content ul.row_toolbar li a.delete{
	background-image: url(../images/delete_small.png);
	background-repeat:no-repeat;
}

.data_repeater_content ul.row_toolbar li a.edit{
	background-image: url(../images/edit_small.png);
	background-repeat:no-repeat;
}

.data_repeater_content ul.row_toolbar li a.view{
	background-image: url(../images/view_small.png);
	background-repeat:no-repeat;
}


.data_repeater_content ul.row_toolbar li a.assign-to{
	background-image: url(../images/assign-to.png);
	background-repeat:no-repeat;
}

.data_repeater_content ul.row_toolbar li a.assign{
	background-image: url(../images/assign.png);
}

.data_repeater_content ul.row_toolbar li a.clock{
	background-image: url(../images/clock.png);
	background-repeat:no-repeat;
}

.data_repeater_content ul.row_toolbar li a.status_active_btn, .data_repeater_content ul.row_toolbar li a.status_active_btn:hover{
	background-image: url(../images/status_active_small.png) ;
	background-color:transparent;
	border:1px solid #c53727;
}

.data_repeater_content ul.row_toolbar li a.status_inactive_btn{
	background-image: url(../images/status_inactive_small.png);
}


